<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="SkillportSites" type="System.Configuration.DictionarySectionHandler" />
  </configSections>
  <SkillportSites>
    <add key="{customername}.skillport.com" value="vM3s1hKVMy6zBOn"/>
  </SkillportSites>
  <system.web>
    <compilation debug="true" targetFramework="4.6.2"/>
    <httpRuntime targetFramework="4.6.2"/>
  </system.web>
  <system.webServer>
    <handlers>
      <add name="GetRAPIKey" verb="POST" path="getrapikey" type="VideoAPIWeb.GetRAPIKey"/>
    </handlers>
  </system.webServer>
</configuration>

